<h1><%= name %></h1>
<p><%= description %></p>
<hr/>
<% for(var i=0 ; i<10 ; i++) { %>
	<h2>The Square of <%= i %> is <%= i*i %> <h2>
<% } %>


//<% CODE %> : 자바스크립트 코드를 입력합니다.
//<%=VALUE %> : 데이터를 출력합니다.